docs/overview/schemas/taskpane/TaskPaneAppVersionOverridesV1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TaskPaneAppVersionOverrides" elementFormDefault="qualified" version="1.0"
    targetNamespace="http://schemas.microsoft.com/office/taskpaneappversionoverrides"
    xmlns="http://schemas.microsoft.com/office/taskpaneappversionoverrides"
    xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="OfficeAppBasicTypesV1_0.xsd" namespace="http://schemas.microsoft.com/office/officeappbasictypes/1.0" />

  <xs:complexType name="ShowTaskpane">
    <xs:annotation>
      <xs:documentation>
        Specifies a taskpane extension URL to display when a user interface extension point is invoked by the user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Action">
        <xs:sequence>
          <xs:element name="TaskpaneId" type="bt:ShortString" minOccurs="0" maxOccurs="1"/>
          <xs:element name="SourceLocation" type="bt:URLResourceReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="Title" type="bt:ShortResourceReference" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExecuteFunction">
    <xs:annotation>
      <xs:documentation>
        Specifies a callback to execute when a user interface extension point is invoked by the user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Action">
        <xs:sequence>
          <xs:element name="FunctionName" type="bt:LongString" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Action" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies an action to perform when a user interface extension point is invoked by the user.
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="Supertip">
    <xs:annotation>
      <xs:documentation>
        Specifies the super tip for this control.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Title" type="bt:ShortResourceReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="Description" type="bt:LongResourceReference" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- Controls -->
  <xs:complexType name="UIControl" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point of various kinds.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Label" type="bt:ShortResourceReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="Supertip" type="Supertip" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="bt:ShortString" use="required">
      <xs:annotation>
        <xs:documentation>
          The unique identifier of this control within the form factor.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="UIControlWithIcon" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point of various kinds that contain an icon.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UIControl">
        <xs:sequence>
          <xs:element name="Icon" type="bt:IconList" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UIControlWithOptionalIcon" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point of various kinds that may or may not contain an icon.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UIControl">
        <xs:sequence>
          <xs:element name="Icon" type="bt:IconList" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Button">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point that displays as a standard button.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UIControlWithIcon">
        <xs:sequence>
          <xs:element name="Action" type="Action" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MenuItem">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point that displays as an item in a menu control.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UIControlWithOptionalIcon">
        <xs:sequence>
          <xs:element name="Action" type="Action" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MenuItems">
    <xs:annotation>
      <xs:documentation>
        Specifies a list of menu actions.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item" type="MenuItem" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Menu">
    <xs:annotation>
      <xs:documentation>
        Specifies a user interface extension point that displays as a menu of actions.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UIControlWithIcon">
        <xs:sequence>
          <xs:element name="Items" type="MenuItems" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- End controls -->

  <!-- Ribbon -->
  <xs:complexType name="Group">
    <xs:annotation>
      <xs:documentation>
        Specifies a specific group of user interface extension points in a tab in the Office client application.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Label" type="bt:ShortResourceReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="Icon" type="bt:IconList" minOccurs="1" maxOccurs="1" />
      <xs:element name="Control" type="UIControl" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="bt:ShortString" use="required">
      <xs:annotation>
        <xs:documentation>
          The unique identifier of this group within the form factor.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Tab" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies a tab in the Office client application where this Office add-in will customize the user interface.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Group" type="Group" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="bt:ShortString" use="required">
      <xs:annotation>
        <xs:documentation>
          Specifies the identifier of the tab to which the child groups belong. If this tab is a CustomTab element, it is the identifier of the new tab. If it is an OfficeTab, it is the identifier of the preexisting Office UI tab in which to insert content.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="OfficeMenu">
    <xs:annotation>
      <xs:documentation>
        Specifies a built-in menu of the Office client application to add this Office add-in
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Control" type="UIControl" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="bt:ShortString" use="required">
      <xs:annotation>
        <xs:documentation>
          Specifies the identifier of the built-in menu to which the controls will be added
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="OfficeTab">
    <xs:annotation>
      <xs:documentation>
        Specifies an extension to a pre-existing tab in the Office client application where this Office add-in will customize the user interface.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Tab" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CustomTab">
    <xs:annotation>
      <xs:documentation>
        Specifies an Office add-in defined tab in the Office client application where this Office add-in will customize the user interface.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Tab">
        <xs:sequence>
          <xs:element name="Label" type="bt:ShortResourceReference" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- End ribbon -->

  <!-- Extension points -->
  <xs:complexType name="ExtensionPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies a location in the Office client application where the Office add-in exposes functionality.
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="CommandSurfaceExtensionPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Specifies location in an Office client application's user interface where the Office add-in exposes functionality.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExtensionPoint">
        <xs:sequence>
          <xs:element name="OfficeTab" type="OfficeTab" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="CustomTab" type="CustomTab" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PrimaryCommandSurface">
    <xs:annotation>
      <xs:documentation>
        Specifies the ways this Office add-in exposes functionality through the primary command display of the Office client application (eg. Desktop Ribbon).
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommandSurfaceExtensionPoint" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ContextMenu">
    <xs:annotation>
      <xs:documentation>
        Specifies the ways this Office add-in exposes functionality through the context menus of the Office client application.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ExtensionPoint">
        <xs:sequence>
          <xs:element name="OfficeMenu" type="OfficeMenu" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- End extension points-->

  <!-- Hosts and form factors -->
  <xs:complexType name="GetStarted">
    <xs:annotation>
      <xs:documentation>
        Specifies the Get Started information for the Office add-in. This information is used at various places on the Office User Interface after user installs an add-in.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Title" type="bt:ShortResourceReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="Description" type="bt:LongResourceReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="LearnMoreUrl" type="bt:URLResourceReference" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FormFactor">
    <xs:annotation>
      <xs:documentation>
        Specifies the list of settings for the Office add-in when activated for a given form factor of the Office client application.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GetStarted" type="GetStarted" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies the Get Started information for the Office add-in. This information is used at various places on the Office User Interface after user installs an add-in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FunctionFile" type="bt:URLResourceReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies the source code file for the Office add-in, containing operations it exposes via its extension points, to use when loaded in this form factor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Specifies a location in an Office client application where the Office add-in registers itself to perform operations.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Host" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Generic type for specifying Host node types under the Hosts element list
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="Workbook">
    <xs:annotation>
      <xs:documentation>
        Defines add-in command extensions for Excel, including supported form factors.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Host">
        <xs:sequence>
          <xs:element name="DesktopFormFactor" type="FormFactor" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies the settings of the Office add-in when running in a desktop version of Excel.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Document">
    <xs:annotation>
      <xs:documentation>
        Defines add-in command extensions for Word, including supported form factors.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Host">
        <xs:sequence>
          <xs:element name="DesktopFormFactor" type="FormFactor" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies the settings of the Office add-in when running in a desktop version of Word.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Presentation">
    <xs:annotation>
      <xs:documentation>
        Defines add-in command extensions for PowerPoint, including supported form factors.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Host">
        <xs:sequence>
          <xs:element name="DesktopFormFactor" type="FormFactor" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies the settings of the Office add-in when running in a desktop version of PowerPoint.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Hosts">
    <xs:annotation>
      <xs:documentation>
        Specifies the Office client application types where an Office add-in will be activated.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="Host" type="Host">
        <xs:annotation>
          <xs:documentation>
            Specifies the Office client application where an Office add-in will be activated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- End hosts and form factors -->

  <xs:complexType name="VersionOverridesV1_0">
    <xs:annotation>
      <xs:documentation>
        Contains elements for the version 1.0 overrides of the Office task pane add-in manifest.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="bt:LongResourceReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies a more verbose description of the Office add-in. Overrides the Description element in the parent node of this element in the manifest</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requirements" type="bt:Requirements" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies the minimum set of Office.js requirements that the Office add-in needs to activate. Overrides the Requirements element in the parent node of this element in the manifest.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Hosts" type="Hosts" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies a collection of Office client application types. Overrides the Hosts element in the parent node of this element in the manifest.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Resources" type="bt:Resources" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specifies a collection of resources referenced by other elements of the manifest where resource references are supported.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any id="VersionOverrides" minOccurs="0" maxOccurs="1" namespace="http://schemas.microsoft.com/office/taskpaneappversionoverrides/1.1" processContents="lax">
        <xs:annotation>
          <xs:documentation>Contains elements for use in future versions of the Office add-in platform as they release. These elements may be overrides to previously defined elements or new elements.</xs:documentation>
        </xs:annotation>
       </xs:any>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="VersionOverrides" type="VersionOverridesV1_0">
    <xs:annotation>
      <xs:documentation>Specifies a collection of Office client application types. Data defined in this element overrides the same data present in the parent node of this element in the manifest for Office client applications that support this extended manifest content.</xs:documentation>
    </xs:annotation>
  </xs:element>

</xs:schema>
